# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# IDE / Editor settings
.vscode/
.idea/

# OS metadata
Thumbs.db
Desktop.ini
.DS_Store
