# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Node modules & build artifacts
node_modules/
frontend/node_modules/
frontend/dist/

# IDE / Editor settings
.vscode/
.idea/

# OS metadata
Thumbs.db
Desktop.ini
.DS_Store
